html, body {
    width: 100%;
    height: 100%;
}
h4 {
    margin: 0px !important;
}
h1, h4, p {
    font-family: Verdana;
}

.header {
    grid-area: header;
    justify-self: center;
}
.main {
    grid-area: main;
    justify-self: left;
}
.profilepic {
    grid-area: profilepic;
    object-fit: cover;
    width: 90%;
}
.container {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "profilepic"
        "main"
        "footer";
}

@media only screen and (min-width: 600px) {
.header {
    grid-area: header;
    justify-self: left;
}
.profilepic {
    grid-area: profilepic;
    object-fit: cover;
    width: 500px
}
.container {
    display: grid;
    justify-content: left;
    min-height: 100%;
    gap: 20px 20px;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "header header"
        "main profilepic"
    }
}